---
import Layout from '../layouts/Page.astro';
import Container from '@littlesticks/odyssey-theme-components'

const seo = {
	title: 'Portolio | Caja Boogers',
	description: 'Caja Boogers portfolio Page',
};
---

<Layout {seo}>
        <h2>Work</h2>

        