---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../../../layouts/Page.astro';
import TextAndImageHero from '../../../components/sections/heros/TextAndImageHero.astro';
import HeroSection from './HeroSection.astro';
import TextSectionHome from './textSectionHome.astro';
import Carousel from './Carousel.astro';

const seo = {
	title: 'Caja Boogers Home page',
	description: 'Caja Boogers Home PAge',
};
---

	<!-- <HeroSection>
		<picture slot="image-container">
			<img
				src="/assets/img/homepage-breed/IMG_0569.jpeg"
				alt="Astro Odyssee"
				id="home-hero-image"
			/>
		</picture>
	</HeroSection> -->

	<Carousel>
	</Carousel>
	<TextSectionHome>
		<div slot="text-container">
		  <p>
	Through clever interventions, Caja Boogers manages to influence the viewer's gaze. Take, for example, the canvases close together, which suggests the opening of an elevator door. Boogers did not paint the doors but let the idea of the doors arise in this way. This characterizes his way of working, in which he constantly explores the tension between various materials and layers in a painting.
	<br><br>
	Apart from paint, his canvases are characterized by scratches, which he applies on the surface before the paint. By working not only with brush and paint, the texture of the subject is intensified. As a viewer, this makes you look no longer just at the depicted image on the canvas, but at the surface as an entire object. In his series of elevators, his paintings balance between abstraction and figuration. The doors of an elevator are indeed an elevator, but also two panels of metal, catching light, or even something else. Boogers’ work reveals an engaging play, shifting you around between the painted and the unpainted.
	<br><br>
	Text: Hagar Schuringa
		  </p>
		</div>
	  </TextSectionHome>


