---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page',
};
---

<Layout {seo}>
    <div class="cv-container">
      <div class="cv-top">
        <div class="cv-content">
          <h4 class="display-4_cv">Exhibition</h4>
          <div class="exhibition">
            <div class="exhibition-entry">
              <div class="cv">
                <div class="year">2023</div>
                <div class="job">
                  <p>
                    HKU Exposure <i>graduation show (upcoming)</i>
                    <br></br>
                    HKU Fine Art, Utrecht
                  </p>
                </div>
              </div>
              <div class="cv">
                <div class="year">2023</div>
                <div class="job">
                  <p>
                    TRAILER
                    <i>groupshow</i>
                    <br></br>
                    AG, Utrecht
                  </p>
                </div>
              </div>
              <div class="cv">
                <div class="year">2023</div>
                <div class="job">
                  <p>
                    A Touch of Light
                    <i> groupshow</i>
                    <br></br>
                    Museum Kranenburgh, Bergen
                  </p>
                </div>
              </div>
              <div class="cv">
                <div class="year">2022</div>
                <div class="job">
                  <p>
                    PEEK Pastoe <i>groupshow</i>
                    <br></br>
                    HKU Fine Art, Utrecht
                  </p>
                </div>
              </div>
              {/* hier */}
              <div class="cv">
                <div class="year">2022</div>
                <div class="job">
                  <p>
                    Tale of the Tape, Caja Boogers
                    <i> solo-show</i>
                    <br></br>
                    Westersingel 101, Rotterdam
                  </p>
                </div>
              </div>
              <div class="cv">
                <div class="year">
                  <p>2022</p>
                </div>
                <div class="job">
                  <p>
                    The NEXT: KapSalon <i>groupshow</i> <br></br>Herman van
                    Veen Arts Center, Soest
                  </p>
                </div>
              </div>
              <div class="cv">
                <div class="year">
                  <p>2021</p>
                </div>
                <div class="job">
                  <p>
                    CURRENT CURRENT CURRENT <i>groupshow</i> <br></br>OMSTAND,
                    Arnhem
                  </p>
                </div>
              </div>
              <div class="cv">
                <div class="year">
                  <p>2021</p>
                </div>
                <div class="job">
                  <p>
                    Virtual Empathy <i>groupshow</i> <br></br>AG, Utrecht
                  </p>
                </div>
              </div>
            </div>

            <h4 class="display-4_mid">Education</h4>
            <div class="education">
              <div class="cv">
                <div class="year-ed">2019- <br> 2023</div>
                <div class="job">
                  <p>BA Fine Art Hogeschool voor de Kunsten Utrecht</p>
                </div>
              </div>
              <div class="cv">
                <div class="year-ed">2022</div>
                <div class="job">
                  <p>Internship Pennie Key Rijksakademie</p>
                </div>
              </div>
            </div>

            <h4 class="display-4_end">Extra</h4>
            <div class="cv_end">
              Bookcover for novel
              <i> Wij zijn van Diamant</i> <br>
              by Alex Boogers,
              <br>
              Hollands Diep, Overamstel uitgevers
            </div>
          </div>
        </div>
        <div class="cv-image">
          <img
            class="cajaImage"
            src="/assets/img/cv/caja.jpg"
            alt="Caja Boogers in front of his work"
          />
        </div>
      </div>
    </div>
</Layout>

<style>
  .cv-container {
  /* display: flex;
  flex-direction: column;
  align-items: left; */
  text-align: center;
}
.cv-top {
  display: flex;
  justify-content: center;
}

.exhibition {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.exhibition-entry {
  display: flexbox;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 10px; /* Optional margin between entries */
}
.job {
  text-align: left;
}

.cv {
  display: flex;
  align-items: flex-start;
  margin-left: 10px;
  text-align: left;
}

.year {
  flex: 0 0 100px;
}
.year-ed {
  flex: 0 0 100px;
}
.cv_end {
  align-items: flex-start;
  margin-right: 52px;
  text-align: left;
  margin-bottom: 100px;
}

.display-4_cv {
  margin-right: 325px;
  margin-top: 20px;
}
.display-4_mid {
  margin-right: 325px;
  margin-top: 20px;
}
.display-4_end {
  margin-right: 380px;
  margin-top: 20px;
}

.cv-image {
  margin-top: 60px;
  margin-left: 75px;
}

.cajaImage {
  max-width: 400px;
  height: auto;
}
@media (max-width: 767px) {
  .display-4_cv {
    margin-right: 275px;
  }
  .display-4_mid {
    margin-right: 275px;
  }
  .display-4_end {
    margin-right: 325px;
  }
  .cv_mid {
    align-items: flex-start;
    margin-left: 10px;
    text-align: left;
  }
  .cv_end {
    align-items: flex-start;
    margin-right: 55px;
    text-align: left;
    margin-bottom: 1px;
  }
  .cv-top {
    flex-direction: column;
    align-items: center;
  }
  .cv-content {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .cajaImage {
    margin-right: 75px;
    width: 50vh;
    margin-bottom: 20px;
  }
  .cv-container {
    overflow-x: hidden;
  }
}
</style>