---
import ContactForm from '../../components/forms/ContactForm.astro';
import Layout from '../../layouts/Page.astro';
import { Container } from '@littlesticks/odyssey-theme-components';

const seo = {
	title: 'Contact | Astro Odyssey Theme',
	description: 'Contact Page',
};
---

<Layout seo={seo}>
	<Container>
		<section class="contact-hero__section">
			<div class="contact-hero__text-section">
				<h1>Contact Me</h1>
				<p>
				</p>
				<div>
					<p>
						<em><a href="https://www.instagram.com/cajaboogers">Send me a message on Instagram</a></em> • <em
							><a href="mailto:contact@cajaboogers.com">contact@cajaboogers.com</a
							></em
						>
					</p>
				</div>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.contact-hero__section {
		margin: var(--section-margin) auto;
		display: flex;
		flex-direction: column; /* Change to column */
		align-items: center; /* Add this line */
		justify-content: center; /* Add this line */
		min-height: calc(90vh - var(--navbar-height));
	}
	.contact-hero__text-section {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center; /* Add this line */
		background-color: var(--theme-surface-1);
		border-radius: var(--theme-shape-radius);
	}
	@media (max-width: 768px) {
		.contact-hero__section {
			grid-template-columns: 1fr;
		}
	}
</style>